replicaCount: 1

image:
  repository: asc686f61/pyspider
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name:

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 5000
  externalIPs:
    - 192.168.31.92

ingress:
  enabled: false

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  cluster:
    enabled: false
  usePassword: false
  master:
    disableCommands: []
mongodb:
  usePassword: false

scheduler:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 23333

fetcher:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 24444

processor:
  replicaCount: 1

result:
  replicaCount: 1